doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    link(href='/styles.css', rel='stylesheet', type='text/css')

    title Template for HapiJS

  body
    block content

    if !PRODUCTION
      p.prod_info not in production.

      script()
        | document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
        | ':35729/livereload.js?snipver=1"></' + 'script>')
